body{
    margin: 0;
    height: 100vh;
    text-align: center;
}
h1{
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
    padding: 0;
}
.title {
    height: 10%;
    text-align: center;
    background-color: dodgerblue;
    flex-wrap: wrap;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (orientation: portrait) {
    .main {
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
    }
    .dicebox{
        height: 40%;
        width: 100%;
        flex-grow: 1;
    }
    .results{ 
        height: 40%;
        width: 100%;
        flex-grow: 1;
    }
  }
.main{
    height: 90%;
    display: flex;
}
.dicebox{
    flex-grow: 6;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.active{
    height: 40%;
    display: grid;
    aspect-ratio: 2 / 1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 2px solid;
}
.active:hover{
    cursor: pointer;
}     
.results{
    flex-grow: 4;
    background-color: beige;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.results:hover{
    cursor: pointer;
}
#result{
    font-size: 15vh;
}
.tray{
    height: 18%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.reserve{
    height: 100%;
    display: grid;
    aspect-ratio: 5 / 1;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: (1, 1fr);
}
.dice{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dice:hover{
    cursor: pointer;
}
.dice2{
    background-color: #7D945D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dice2:hover{
    cursor: pointer;
}