body {
  text-align: center;
  background-color: #011F3F;
}

.return{
  text-align: left;
  margin: 1rem;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  color: #FEF2BF;
}

.heading{
  margin: auto;
}

#title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
  color: #FEF2BF;
}

#subtitle{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  color: #84d07d;
  visibility: hidden;
}

#level-title{
  padding: 0;
  margin: 1%;
}
#highscore{
  padding: 0;
  margin: 0;
}

.stats {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  color: #FEF2BF;
}

.game-box{
  display: flex;
  justify-content: center;
  padding: 2%;
}

.simon-unit{
  width: 500px;
  height: 500px;
  border-radius: 30px 30px 30px 30px;
  background-color: #181716;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  border: 5px solid black;
}

.btn {
  display: inline-block;
  aspect-ratio: 1 / 1;
  height: 200px;
  border: 5px solid black;
  border-radius: 30px;
}

.btn:hover{
  cursor: pointer;
}

.footer{
  margin: auto;
}

.game-over {
  background-color:#3e4943;
  opacity: 0.5;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px lightgrey;
  background-color: lightgrey;
}

@media screen and (max-width: 700px){
  #title{
    font-size: 2rem;
  }
  .simon-unit{
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 500px){
  .btn{
    height: 150px;
  }
}
@media screen and (max-width: 330px){
  .btn{
    height: 100px;
  }
}
